@import url(https://fonts.googleapis.com/css?family=Cabin:400,600);
@import url(https://fonts.googleapis.com/css?family=Lora:400,600);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Lemon|Quicksand:600,400,300|Lato:300);
@import url(https://fonts.googleapis.com/css?family=Merriweather:600,400,300);

@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap);
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$primary_font: "Nunito", sans-serif;
$heading_font: "Source Sans Pro", sans-serif;

/*
$primary-color: #8b0000;
$grad-1: #E83131;
$grad-2: #A31414;*/

$header_height: 70px;
$hero_height: 400px;
$hero_condensed_height: 100px;
$sidenav_width: 300px;

$pad_amount: 10px;

//$primary-color: #461566;
$primary-color: #09701a;
$highlight-color: #fce700;

$primary-color-light-1: lighten($primary-color, 5);
$primary-color-light-2: lighten($primary-color, 10);
$primary-color-light-3: lighten($primary-color, 15);
$primary-color-light-4: lighten($primary-color, 20);
$primary-color-light-5: lighten($primary-color, 25);

$primary-color-dark-1: darken($primary-color, 5);
$primary-color-dark-2: darken($primary-color, 10);
$primary-color-dark-3: darken($primary-color, 15);
$primary-color-dark-4: darken($primary-color, 20);

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

b {
  font-weight: bold;
}

html {
  margin: 0;
}

body {
  font-size: 18px;
  line-height: 170%;
  color: #444;
  font-family: $primary_font;
  font-weight: 300;
  background: #eee;
  /*background-image: url("../images/footer_lodyas_inverted.png");*/
  position: relative;
  /* Extra margins to allow for nicer blurring on edges */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-family: $heading_font;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.8em;
}

p a {
  color: $primary-color;
  //font-weight: bold;
}
a {
  color: $primary-color;
  text-decoration: none;
}
a:hover {
  color: $primary-color;
  text-decoration: underline;
}
a:visited {
  color: $primary-color-dark-1;
}

.float-right {
  float: right;
}

span.highlight {
  color: $highlight-color;
  color: lighten($primary-color, 6);
  font-weight: 700;
}
.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 1em;
  @media (max-width: 1280px) {
    width: 992px;
  }
  @media (max-width: 992px) {
    width: 100%;
  }
}

.flex-container {
  display: flex;
  align-items: flex-start;

  &.flex-align-center {
    align-items: center;
  }
  &.flex-align-end {
    align-items: end;
  }
  &.justify-space-between {
    justify-content: space-between;
  }
  &.main-flex-container {
    @media (max-width: 800px) {
      display: block;
    }
  }
}

@for $i from 1 through 10 {
  .padded-#{$i}x {
    padding: $pad_amount * $i;
  }
  .padded-v-#{$i}x {
    padding-top: $pad_amount * $i;
    padding-bottom: $pad_amount * $i;
  }
  .padded-h-#{$i}x {
    padding-left: $pad_amount * $i;
    padding-right: $pad_amount * $i;
  }
  .margin-left-#{$i}x {
    margin-left: $pad_amount * $i;
  }
  .margin-right-#{$i}x {
    margin-right: $pad_amount * $i;
  }
  .margin-bottom-#{$i}x {
    margin-bottom: $pad_amount * $i;
  }
}

.padded {
  padding: 10px;
}

.row {
  display: block;
}

.box-shadow {
  box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.9);
}

.box-shadow-inset {
  box-shadow: inset 0px 1px 4px -2px rgba(0, 0, 0, 0.9),
    inset 0px -1px 3px -2px rgba(0, 0, 0, 0.9);
}

.logo-group {
  display: flex;
  align-items: center;
  height: 100%;

  .logo-text {
    margin: 0;
    margin-left: 10px;
    font-size: 20px;
    line-height: 110%;

    h2 {
      font-size: 19px;
      margin: 0;
    }
    h3 {
      font-size: 15px;
      margin: 0;
      font-weight: normal;
      opacity: 0.8;
    }
  }
  .logo {
    margin-left: 10px;
  }
  &.logo-group-large {
    .logo-text {
      line-height: 150%;
      h2 {
        font-size: 25px;
      }
      h3 {
        font-size: 22px;
      }
    }
  }
}

.logo {
  padding: 15px 10px;
  image-rendering: -webkit-optimize-contrast;
  height: 100%;

  img {
    height: 100%;
  }

  &.nlp-tlp-logo {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

header {
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: white;
  height: $header_height;

  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.2);
  .logo {
    height: $header_height;
  }
  .header-title {
    padding: 0 10px;
  }
  ul.header-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    li {
      margin-right: 10px;
      &:not(:last-child):after {
        content: "|";
        margin: 0 10px;
        color: rgba(0, 0, 0, 0.2);
      }
    }
  }
  @media (max-width: 1366px) {
    font-size: 0.7em;
  }
  @media (max-width: 1280px) {
    position: static;
    height: auto;
    ul.header-nav {
      display: block;
      li:not(:last-child):after {
        display: none;
      }
    }
  }
}

footer {
  background: #222;
  color: white;
  padding: 20px 0;
  box-shadow: 0 1500px 0 1500px $primary-color-dark-2;

  p {
    line-height: 150%;
    font-size: 0.8em;
    opacity: 0.7;
  }

  .logo {
    height: 100px;
    margin-right: 10px;
  }
  .logo-text {
    color: white;
  }
  .logo-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  hr {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.banner {
  width: 100%;
  height: 150px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

#hero {
  margin-top: $header_height;
  min-height: $hero_height;
  background: $primary-color-dark-1;

  position: relative;
  font-size: 1.2em;

  background: rgba(0, 0, 0, 0);

  z-index: 100;

  .ajcai-bit {
    display: flex;
    align-items: center;
    padding: 1.5em 0;
    .logo {
      margin: 0;
      height: 100px;
      margin-right: 1.5em;
    }
  }

  &:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -1px 3px -1px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    pointer-events: none;
  }

  //transition: font-size 0.1s linear, height 0.1s linear;
  //transition: height 0.1s linear;

  &.hero-condensed {
    min-height: $hero_condensed_height;
    font-size: 0.6em;
  }

  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(
      90deg,
      rgba(248, 248, 248, 0.95),
      rgba(248, 248, 248, 0.95),
      rgba(248, 248, 248, 0.95),
      rgba(248, 248, 248, 0.95),
      rgba(248, 248, 248, 0.35),
      rgba(250, 250, 250, 0),
      rgba(240, 240, 240, 0)
    );

    //background-position: 80% 50%;
    //background-repeat: no-repeat;
    z-index: 1;
    &:after {
      //display: none;
      width: 100%;
      height: 100%;
      content: " ";
      position: absolute;
      background-image: url("/images/grid.png");

      background-repeat: repeat;
    }
    &:before {
      //display: none;
      width: 100%;
      height: 100%;
      content: " ";
      position: absolute;

      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.08)
      );
      background-blend-mode: multiply;
    }
  }

  .hero-text {
    z-index: 2;
    color: rgba(255, 255, 255, 0.95);

    color: rgba(0, 0, 0, 0.7);
    //text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    line-height: 125%;

    h1 {
      margin: 0;
    }
    h2 {
      margin: 0;
      color: rgba(0, 0, 0, 0.75);
      font-size: 1.7em;
      line-height: 135%;
    }

    h3 {
      margin-top: 0em;
      color: rgba(0, 0, 0, 0.65);
      font-size: 1.2em;
      margin-bottom: 0;
      padding: 0;
    }
    h4 {
      font-size: 0.85em;
      margin-top: 0.75em;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.5);
      padding: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    @media (max-width: 992px) {
      padding: 15px 0;
    }
  }

  //background-image: url('/images/hero-image.jpg');
  //background-position: center;
  //background-size: cover;
  // <span>Photo by <a href="https://unsplash.com/@korart?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Artyom Korshunov</a> on <a href="https://unsplash.com/s/photos/mining?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
}

$hero-graph-opacity: 0.75;
#hero-graph-wrapper {
  //display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: $hero-graph-opacity; // 0.18
  pointer-events: none;
  overflow: hidden;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: $hero-graph-opacity;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: $hero-graph-opacity;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: $hero-graph-opacity;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: $hero-graph-opacity;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: $hero-graph-opacity;
  }
}

main#main {
  padding: 2em 1em;
  min-height: 600px;
  flex-grow: 1;
  p:first-child {
    margin-top: 0;
  }
  div > section:first-child {
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0px;
    }
  }
}

section {
  padding-bottom: 2em;
  margin-bottom: 2em;
  > h3 {
    padding-bottom: 4px;
    border-bottom: 1px solid rgba($primary-color, 0.2);
  }
  > h2,
  > h3,
  > h4,
  > h5 {
    width: 100%;
  }
  &.width-80 {
    width: 80%;
  }
  h2 {
    margin-bottom: 1em;
  }
  &:not(:first-child) {
    margin-top: 3em;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #dadada;
  }
}

.homepage-logo {
  width: 240px;
  height: 240px;
  float: right;
  margin-left: 20px;
  margin-right: -60px;
  margin-top: 10px;
  //box-shadow: 1px 2px 6px -2px #111;
  border-radius: 50%;
  img {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 992px) {
    width: 180px;
    height: 180px;
  }
}

.crypted-email:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

section {
  scroll-margin-top: 120px;
}

.tutorial-outline {
  line-height: 230%;
  margin-left: 1em;
  padding: 0;
  > li {
    padding-left: 1em;

    > ul li {
      list-style: none;
    }
    > ul li:before {
      font-family: "FontAwesome";
      content: "\f054";
      margin: 0 1em 0 -1em;
      font-size: 0.65em;
      line-height: 0;
      display: inline-block;

      transform: translate(0px, -1px);
    }
  }
}

.profile {
  //background: #e4e4e4;
  padding: 1em 0em;
  border-radius: 0.5em;
  p {
    padding: 0;
    margin: 0;
  }
  ul.profile-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    li:not(:last-child):after {
      content: "\00B7";
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
  .profile-details {
    margin-top: 0.5em;
    text-align: center;
    line-height: 180%;
    h3 {
      font-size: 1.35em;
      margin: 0;
      padding: 0;
    }
    h4 {
      margin: 0;
      padding: 0;
      font-weight: normal;
      color: #555;
      font-size: 1.05em;
    }
  }
  .profile-photo {
    width: 180px;
    margin-right: 1em;
    border-radius: 50%;
    margin-left: 1em;
  }
  .flex-item:first-child {
    padding-left: 0em;
    padding-right: 4em;
  }
}

.acknowledgment-logo.profile-photo {
  width: 350px;
  border-radius: 0;
}
.acknowledgment p {
  margin: 1em 0;
}
